<style>
  :root {
    --sys-font-family: "Inter";
    --article-font-family: "Inter", "Noto Serif SC", var(--base-font-family);
  }
  .navbar a {
    font-size: 16px;
  }

  .navbar {
    height: 12px;
    margin-bottom: 24px;
  }

  ul li {
    font-size: 0.88em !important;
  }

  p{
    font-size: 0.98em;
  }
  p a {
    text-decoration: underline !important;
    margin: 0px !important;
  }
</style>

<!--This script use to load font from outside<-->
<script>
  (function () {
      const customFont = document.createElement('link');
      customFont.href = "https://fonts.googleapis.com/css2?family=Inter&display=swap";

      customFont.type = "text/css";
      customFont.rel = "stylesheet";

      document.head.appendChild(customFont);
  }());
</script>