<footer>
    <div class = "container">
        <left>
            Created with <red>♥</red> <br /> Sandesh Bhusal (2020). 
            <br />
        </left>
        <right>
            Total Pageviews: <br />
            <!-- Badge Code - Do Not Change The Code -->
    <a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="1fc9bcbb876dcd3312b433b63082ca33|5|page|1|#ffffff|#000000|large|s-hit">Hit Counter</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
    <!-- Badge Code End Here -->
        </right>
    </div>
</footer>
<style>
    left{
        float: left;
    }
    .hitCounter{
        background: none !important;
    }
    right{
        float: right;
    }
    footer{
        margin-top: 32px;
        width: 100%;
        position: absolute;
        left: 0px;
        background: #f1f1f1;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    red{
        color: red;
    }
</style>