<!-- I have included the styles in this page itself. Because these styles will not be used anywhere else. :) -->
<center>
    <div class = "two_pane_author">
        <div class = "image">
            <img class = "author-image" src = "https://scontent.fktm5-1.fna.fbcdn.net/v/t1.0-9/50167490_2289205691315120_1609149805714472960_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=axRX6UTLoLkAX9zBzoo&_nc_ht=scontent.fktm5-1.fna&oh=40a4bb4bdfc9c24c88792c7109e0fa71&oe=5EA24458"/>

        </div>
        <div class = "description">
            <b> Sandesh Bhusal </b>
            <br />
            Find me as <a href = "https://facebook.com/bhussu">@bhussu</a> 
            or <a href = "https://github.com/sandeshbhusal">@sandeshbhusal </a>
            <br />
        </div>
    </div>
</center>

<style>
    center{
        margin: auto;
        display: flex;
        justify-content: start center;
        align-items: center;
    }
    .author-image{
        justify-self: center;
        height: 64px;
        width: 64px;
        border-radius: 1000px;
        padding: 4px;
        border: 3px solid black;
    }
    .description{
        justify-content: center;
        align-self: center;
        padding-left: 32px;
        text-align: left;
    }
    .two_pane_author{
        display: flex;
    }
    a{
        text-decoration: none;
    }
    @media screen and (max-width: 1200px){
        .two_pane_author{
            display: inline;
            margin: auto;
        }
        .two_pane_author .image{
            margin: 0px;
            margin-top: 32px;
        }
        .description{
            margin-top: 16px;
            line-height: 32px;
            margin-left: -32px;
            text-align: center;
        }
    }
</style>