---
layout: default
---
<!-- Include the mathjax library -->
<script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<title> {{ page.title }} | {{ site.title }} </title>

<div class = "black">
    <br />
    <center>
        <h2> {{ page.title }}</h2>
        <br />

        <small>
            Posted on {{ page.date | date_to_string }} <br />
            Authored by <b> {{ page.author }} </b>
        </small>
    </center>
    <br /><br />
    {{ content }}
</div>
<style>
    .black{
        color: black;
    }
</style>
